# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/

# Environment files
.env
.env.*

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
